@import "src/shared/theme/theme-variables";
@import "src/shared/theme/theme-mixins";

.wrapper {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  @media only screen and (max-width: 600px) {
    height: 100vh;
    box-sizing: border-box;
    gap: 10px;
  }

  header {
    padding: 20px 20px 0;
    display: flex;
    flex-direction: row;

    input {
      @include form-field-default;
      flex-grow: 1;
      height: 32px;
      border-radius: 10px;
      padding: 5px 24px;
      margin-right: 15px;
      @media only screen and (max-width: 600px) {
        font-size: 16px;
      }
    }

    .button {
      @include form-field-default;
      width: 56px;
      height: 32px;
      border-radius: 10px;
      font-size: 26px;
      font-weight: 100;
      color: $color-light;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover{
        background-color: $form-input-background-light;
      }
    }
  }

  .scroll {
    @include styled-scroll;
    display: flex;
    flex-grow: 1;
    flex-direction: column;

    @media only screen and (max-width: 600px) {
      overflow: scroll;
      overflow-x: hidden;
      min-height: 400px;
    }
  }

  * {
    box-sizing: border-box;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;

  p {
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }
}

