@import "../../../shared/theme/theme-variables";

.wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toast {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  color: $color-main;
  background-color: $card-background;
  border: 1px solid #4a5568;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);

  &:dir(rtl) {
    gap: 1rem;
    border-style: solid;
  }

  svg {
    height: 1.25rem;
    width: 24px;
    color: $color-success;
  }

  &.error {
    svg {
      color: $color-no-success
    }
  }

  .message {
    padding-start: 1rem;
    font-size: 0.875rem;
    font-weight: normal;
  }
}