.list {
  padding: 0 20px;

  h2 {
    font-weight: normal;
    margin: 11px 0 16px 0;
  }
}

.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-grow: 1;

  p {
    display: inline-block;
    text-align: center;
    font-size: 12px;
  }
}

