$background: #1D252C;

$color-main: #FFFFFF;
$color-light: #9A9A9A;
$color-success: #62AB6A;
$color-success-disabled: #26413B;
$color-no-success: #B64F4F;
$color-no-success-disabled: #412631;


$form-input-background: #263741;
$form-input-background-light: #364751;

$card-background: #263741;